Code/*
dconf/*
dolphinrc
fcitx/*
fcitx5/*
glib-2.0/*
google-chrome/*
gtk-3.0/*
gtk-4.0/*
gwenviewrc
ibus/*
kde.org/*
menus/*
mimeapps.list
procps/*
pulse/*
QtProject.conf
systemd/*
user-dirs.dirs
user-dirs.locale
vlc/*
waybar.bak/*
yay/*
obsidian/*
